.wrapper {
  min-width: 0;
  max-height: 28px;
  padding-right: 25px;
  overflow: hidden;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.6em;
  margin-bottom: 5px;
  line-height: 0.7rem;
  color: var(--mid-gray);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border: 1px solid rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 0.7rem;
}

.hiddenItems {
  position: absolute;
  top: 0.1rem;
  font-weight: bold;
  color: var(--mid-gray);
  font-size: 0.75rem;
}

@media screen and (min-height: 870px) and (min-width: 620px) {
  .wrapper {
    max-height: 31px;
    padding-right: 30px;
  }

  .badge {
    padding: 0.3em 0.6em;
    font-size: 0.8rem;
    line-height: 0.9;
  }

  .hiddenItems {
    font-size: 0.8rem;
  }
}

@media screen and (min-height: 1058px) and (min-width: 700px) {
  .wrapper {
    max-height: 35px;
    padding-right: 32px;
  }

  .badge {
    padding: 0.35em 0.65em;
    font-size: 0.9rem;
    line-height: 1;
  }

  .hiddenItems {
    font-size: 1rem;
  }
}
