.title {
  color: var(--mid-gray);
  font-weight: 600;
  text-align: center;
  font-size: 1.35rem;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 400;
}

.subtitle span {
  font-size: 1.3rem;
  color: var(--mid-gray);
}

.contributorInfo {
  min-width: 0;
  width: calc(100% - 66px);
}

.card {
  display: block;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 0.8rem;
  padding: 0.75rem;
}

.contribIcon {
  margin-top: -1px;
}

.clotributorWrapper {
  border-radius: 0.5rem;
  overflow: hidden;
  width: 85%;
}

.legend {
  font-size: 1.15rem;
  font-weight: 400;
  text-align: center;
}

.clotributorLink {
  color: #0d6efd;
  text-decoration: underline;
}

.displayName {
  display: inline-block;
  max-width: 100%;
  font-size: 1.15rem;
  line-height: 1.25rem;
  cursor: pointer;
}

.githubLink {
  display: block;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.generalTitle {
  font-size: 0.75rem;
  line-height: 1;
}

.buttons {
  margin-top: 1rem;
  text-align: center;
}

.messageWrapper {
  position: absolute;
  bottom: -80px;
  left: 0;
  right: 0;
  font-size: 0.65rem;
}

.message {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3rem;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 0.2rem 0.35rem;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}

.firstContribContent {
  min-width: 0;
  height: 58px;
}

.firstContributionRepo {
  display: block;
  cursor: pointer;
  margin-bottom: 2px;
}

.firstContributionLink {
  display: block;
  cursor: pointer;
}

.badge {
  display: inline-block;
  padding: 2px 8px;
  line-height: 0.8rem;
  color: var(--mid-gray);
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 0.7rem;
  margin-right: 0.5rem;
}

.badgeIcon {
  font-size: 90%;
  line-height: 90%;
  margin-right: 0.5rem;
}

.blueBtn {
  font-size: 0.9rem;
  font-weight: bold !important;
  width: 145px;
  color: #fff;
  background-color: var(--color-1);
  border: 2px solid var(--color-2);
  padding: 0.2rem 0.75rem;
  cursor: pointer;
  text-decoration: none !important;
}

.blueBtnIcon {
  position: relative;
  margin-top: -2px;
  font-size: 90%;
  min-width: 16px;
}

@media (hover: hover) {
  .clotributorLink:hover {
    color: #0d6efd;
  }

  .card:hover {
    background-color: rgba(0, 0, 0, 0.015);
    color: var(--font-color) !important;
  }
}

@media screen and (min-height: 870px) and (min-width: 620px) {
  .title {
    font-size: 1.5rem;
  }

  .legend {
    font-size: 1.35rem;
  }

  .clotributorWrapper {
    width: 75%;
  }

  .contributorInfo {
    height: 60px;
  }

  .subtitle {
    font-size: 1.4rem;
  }

  .subtitle span {
    font-size: 1.7rem;
  }

  .displayName {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  .card {
    font-size: 0.9rem;
    padding: 0.8rem;
  }

  .firstContribContent {
    height: 72px;
  }

  .badge {
    padding: 0.35em 0.8em;
    font-size: 0.7rem;
    line-height: 0.9;
  }

  .buttons {
    margin-top: 1.5rem;
  }

  .blueBtn {
    font-size: 1rem;
    padding: 0.2rem 1rem;
    width: 175px;
  }

  .messageWrapper {
    bottom: -106px;
  }

  .message {
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
  }
}

@media screen and (min-height: 1058px) and (min-width: 700px) {
  .title {
    font-size: 2rem;
  }

  .legend {
    font-size: 1.5rem;
  }

  .clotributorWrapper {
    width: 75%;
  }

  .contributorInfo {
    height: 70px;
  }

  .subtitle {
    font-size: 1.6rem;
  }

  .subtitle span {
    font-size: 2.1rem;
  }

  .displayName {
    font-size: 1.75rem;
    line-height: 2rem;
  }

  .card {
    font-size: 1rem;
    padding: 0.9rem;
  }

  .firstContribContent {
    height: 80px;
  }

  .buttons {
    margin-top: 1.5rem;
  }

  .blueBtn {
    font-size: 1.2rem;
    padding: 0.25rem 1.35rem;
    width: 215px;
  }

  .messageWrapper {
    bottom: -146px;
  }

  .message {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
  }

  .generalTitle {
    font-size: 1rem;
    line-height: 1.5;
  }

  .badge {
    padding: 0.35em 0.8em;
    font-size: 0.9rem;
    line-height: 1;
  }

  .badgeIcon {
    min-width: 14px;
  }
}

/* Only mobile */
@media (pointer: none), (pointer: coarse) {
  .badge {
    line-height: 0.6rem;
  }

  .badgeContent {
    padding-top: 0.1em;
  }

  .displayName {
    position: relative;
    margin-bottom: -0.35rem;
  }

  .firstContribContent {
    height: 55px;
  }

  .subtitle {
    font-size: 1.05rem;
  }

  .subtitle span {
    font-size: 1.15rem;
  }

  .blueBtn {
    padding: 0.2rem 0.75rem;
    width: 135px;
  }

  .messageWrapper {
    bottom: -73px;
  }

  .message {
    font-size: 0.65rem;
    line-height: 0.8rem;
    padding: 0.2rem 0.35rem;
  }
}
