.title {
  color: var(--mid-gray);
  font-weight: 600;
  text-align: center;
  font-size: 1.35rem;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 400;
}

.subtitle span {
  font-size: 1.3rem;
  color: var(--mid-gray);
}

.contributorInfo {
  min-width: 0;
  width: calc(100% - 66px);
}

.card {
  display: block;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.25);
  font-size: 0.8rem;
  padding: 0.75rem;
}

.contribIcon {
  margin-top: -1px;
}

.clotributorWrapper {
  border-radius: 0.5rem;
  overflow: hidden;
  width: 85%;
}

.legend {
  font-size: 1.15rem;
  font-weight: 400;
  text-align: center;
}

.clotributorLink {
  color: #0d6efd;
  text-decoration: underline;
}

.displayName {
  display: block;
  padding-bottom: 0.15rem;
  font-size: 1.15rem;
  line-height: 1.15rem;
  cursor: pointer;
}

.githubLink {
  display: block;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

.generalTitle {
  font-size: 0.75rem;
  line-height: 1;
}

.message {
  font-size: 1.1rem;
  text-align: center;
}

.loadingWrapper {
  padding: 5rem;
  text-align: center;
}

.firstContribContent {
  min-width: 0;
  line-height: 1;
}

.firstContributionRepo {
  display: block;
  line-height: 1.5;
  cursor: pointer;
}

.firstContributionLink {
  display: block;
  cursor: pointer;
}

.date {
  margin-top: 1px;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.75em;
  line-height: 0.7rem;
  color: var(--mid-gray);
  white-space: nowrap;
  vertical-align: baseline;
  border: 1px solid rgba(0, 0, 0, 0.25);
  font-weight: 600;
  font-size: 0.7rem;
  margin-right: 0.5rem;
}

.badgeIcon {
  margin-right: 0.5rem;
  height: 10px;
  width: 11px;
}

.badgeIcon svg {
  position: relative;
  margin-top: -3px;
  height: 100%;
  max-width: 100%;
}

@media (hover: hover) {
  .clotributorLink:hover {
    color: #0d6efd;
  }

  .card:hover {
    background-color: rgba(0, 0, 0, 0.015);
    color: var(--font-color) !important;
  }
}

@media screen and (max-height: 1057.99px) and (min-width: 680px) {
  .clotributorWrapper {
    width: 65%;
  }

  .title,
  .legend {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (min-height: 1058px) and (min-width: 680px) {
  .title {
    font-size: 2rem;
  }

  .legend {
    font-size: 1.5rem;
  }

  .clotributorWrapper {
    width: 75%;
  }

  .subtitle {
    font-size: 1.8rem;
  }

  .subtitle span {
    font-size: 2.25rem;
  }

  .displayName {
    margin-top: -0.35rem;
    padding-bottom: 0.5rem;
    font-size: 1.75rem;
    line-height: 1.75rem;
  }

  .githubLink {
    font-size: 1.35rem;
  }

  .card {
    font-size: 1rem;
    padding: 0.9rem;
  }

  .message {
    font-size: 1.75rem;
  }

  .generalTitle {
    font-size: 1rem;
    line-height: 1.5;
  }

  .firstContribContent {
    line-height: 1.5;
  }

  .badge {
    padding: 0.35em 0.8em;
    font-size: 0.9rem;
    line-height: 1;
  }

  .badgeIcon {
    height: 12px;
    width: 13px;
  }

  .badgeIcon svg {
    margin-top: -4px;
  }
}
