<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contribcard</title>
    <link rel="stylesheet" href="/styles/common.css">
     <% if (isDev) { %>
      <script>
        fetch("/static/list/contributors.json")
        .then(res => res.json())
        .then(data => window.contributors = data);
      </script>
      <% } else { %>
      <script>
        window.contributors = {{ contributors }};
      </script>
      <% } %>
  </head>
  <body>
    <main class="d-flex align-items-center justify-content-center">
      <div class="d-flex position-relative wrapper">
        <div class="position-absolute decorator"></div>

        <div class="d-flex flex-column overflow-auto w-100 bg-white content">
          <div class="d-flex flex-column align-items-center mb-4 border-bottom header">
            <div class="header-logo">
              <img class="w-100" src="/images/k8s-logo.png" alt="Kubernetes logo">
            </div>
            <div class="mb-2 fw-bold text-uppercase mainTitle">Contributor card</div>
          </div>

          <div class="d-flex flex-column flex-grow-1 mx-3 mx-md-5">
            <div id="root"></div>
            <div class="pt-2 mt-auto mt-md-2 w-100 mx-auto">
              <img class="footer-image" src="/images/phippy-family.png" alt="Phippy Family">
            </div>
          </div>
        </div>
      </div>
    </main>
    <script type="module" src="/src/index.tsx"></script>
  </body>
</html>
